<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 
  <form  method="post" action="/newindex">

    <label>department</label>
    <input type="text" name="department" placeholder="department" required>

    <label>subject</label>
    <input type="text" name="Severity" placeholder="subject" required>

    <label>severity</label>
    <input type="text" name="Assigned" placeholder="severity" required>

    <label>description</label>
    <input type="date" name="discriptions" value="2022-03-29">
    <button type="submit">att ticket</button>
  </form>
</body>
</html>