<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="styles2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap"
      rel="stylesheet"
    />

    <title>Bug Tracker</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar-container">
        <div class="logo-welcome">
          <img
            class="logo"
            src="https://img.icons8.com/small/96/000000/query-inner-join-right.png"
          />
          <h2 class="welcome">Welcome back, [User]</h2>
        </div>
        <hr />
        <ul>
          <li class="dashboard">
            <img src="https://img.icons8.com/ios/48/000000/flow-chart.png" />
            <h3 class="align">Dashboard</h3>
          </li>
          <hr />
          <a><li class="tickets">
            <img
              src="https://img.icons8.com/material/48/000000/check--v1.png"
            />
            <h3 class="align">Tickets</h3>
          </li>
        </a>
          <hr />
          <li class="user">
            <img
              src="https://img.icons8.com/material/48/000000/guest-male--v1.png"
            />
            <h3 class="align">Profile</h3>
          </li>
          <button onclick="window.location.href='addTicketScreen'" type="submit">Add Ticket</a>
        </ul>
      </div>
    </section>
    <section>
      <div class="ticketTable-container">
        <table class="ticketTable">
          <thead>
            <tr>
              <th>Department</th>
              <th>Subject</th>
              <th>Severity</th>
              <th>Description</th>
              <tr/>
            </thead>
              <tr>
              <% tickets.forEach(ticket => { %>
                <td> <%= ticket.department %></td>
                <td> <%= ticket.subject%></td>
                <td> <%= ticket.severity %></td>
                <td> <%= ticket.description %></td>
                
              </tr>
              <%}) %>
            </tr>
        </table>
      </div>
    </section>

    <script defer src="main.js"></script>
  </body>
</html>
