:root {
  --primarycolor: #41474a;
  --secondarycolor: #b9c1b9;
  --thirdcolor: #f2f0ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}
body {
  background: var(--secondarycolor);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.sidebar {
  position: absolute;
  height: 100vh;
  width: 15%;
  background: var(--primarycolor);
  box-shadow: 0px 0px 100px 20px var(--primarycolor);
}
.logo-welcome {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 20px;
}
.welcome {
  align-self: flex-end;
  margin-left: 10px;
}

hr {
  margin-top: 50px;
  width: 100%;
  outline-color: white;
}
ul {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

li {
  display: flex;
  margin-top: 20px;
  list-style: none;
  font-size: 20px;
  padding: 10px;
}
.logo {
  filter: invert(100);
}

.align {
  margin-left: 10px;
}
ul :hover {
  background: var(--thirdcolor);
  border-radius: 10px;
  cursor: pointer;
}
