* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--secondarycolor),
    var(--primarycolor)
  );
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primarycolor);
  height: 250px;
  width: 400px;
  margin-top: 200px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 0px;
}
.login-btn {
  background: #339dff;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  margin-top: 20px;
  margin-left: 10px;
}
.username {
  background-image: url('https://img.icons8.com/windows/32/000000/user-secured.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10%;
}
.password {
  background-image: url('https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-password-internet-security-those-icons-fill-those-icons-6.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10%;
}
.login-field {
  display: flex;
  flex-direction: column;
}
.password,
.username {
  border-radius: 5px;
  margin: 10px;
  height: 35px;
  font-size: 15px;
  width: 300px;
}
