<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar-container">
        <div class="logo-welcome">
          <img
            class="logo"
            src="https://img.icons8.com/small/96/000000/query-inner-join-right.png"
          />
          <h2 class="welcome">Welcome back, [User]</h2>
        </div>
        <hr />
        <ul>
          <li class="dashboard">
            <img src="https://img.icons8.com/ios/48/000000/flow-chart.png" />
            <h3 class="align">Dashboard</h3>
          </li>
          <hr />
          <li class="tickets">
            <img
              src="https://img.icons8.com/material/48/000000/check--v1.png"
            />
            <h3 class="align">Tickets</h3>
            <a href="tickes/addTicketScreen"></a>
          </li>
          <hr />
          <li class="user">
            <img
              src="https://img.icons8.com/material/48/000000/guest-male--v1.png"
              
            />
            <h3 class="align">Profile</h3>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
